body {
  font-family: 'Noto Sans', sans-serif;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.teaser img{
  max-width: 250px;
}

.teaser-image-container {
  /* background-color: #002147; Set your desired background color */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.teaser-section{
  padding-top: 20px;
  padding-bottom: 20px;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

/* Target the specific header with the custom class */
header.hero.is-primary.custom-header {
  /* Your custom styles here */
  background-color: #002147; /* Set your desired background color */
  overflow: hidden; /* Disable overflow */
  flex-grow: 1;
  flex-shrink: 1;
}

.header-image-container {
  margin-left: auto;
  margin-right: auto;
  background-color: #002147; /* Set your desired background color */
  padding-left:     40px; /* Add padding as needed */
  padding-right:    40px; /* Add padding as needed */
  padding-top:      35px; /* Add padding as needed */
  padding-bottom:   30px; /* Add padding as needed */
  overflow: hidden; /* Disable overflow */
  /* width: 100%; */
}

.header-image {
  /* Adjust the styles as needed */
  width: fit-content;/* Make sure the image spans the full width of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure proper display as a block-level element */
}

/* Adjust image dimensions for larger screens */
@media (min-width: 500px) {
  .header-image-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px; /* Adjust the max-width for larger screens */
      /* max-height: 200px; */
  }
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}


/* CSS for table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
  outline: 1px solid #ddd;
}
th, td {
  padding: 10px !important;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f5f5f5;
}

/* General Container Classes */
.flex-container-centered {
  display: flex;
  justify-content: center;  /* Center vertically - this does not get applied to table cells*/
  align-items: center;      /* Center horizontally if needed */
  height: 100%;             /* Take full height of the parent */
}

.transformed_image {
  /* Define default values for variables */
  --zoom-factor: 1; /* Default zoom level */
  --translate-x: 0px; /* Default horizontal translation */
  --translate-y: 0px; /* Default vertical translation */

  width: calc(100% * var(--zoom-factor));
  height: calc(100% * var(--zoom-factor));
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--zoom-factor));
  /*Optional: smooth transition for transform changes */
  /* transition: transform 0.3s ease; */
}

/* Publication Table Classes */
.publication-thumbnail-cell {
  width: 40%; /* Specify width of the cell */
  display: table-cell;
  vertical-align: middle !important; 
}

.publication-description-cell {
  padding: 20pt 15pt !important;
  display: table-cell;
  vertical-align: middle !important;
}

.publication-description {
  display:table-cell;
}

/* Team Member Table Classes */
.thumbnail-cell-team {
  width: 35%; /* Specify width of the cell */
  display: table-cell;
}

.profile-frame {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  --zoom-factor: 1; /* Default zoom level */
  --translate-x: 0px; /* Default horizontal translation */
  --translate-y: 0px; /* Default vertical translation */
}

.profile-frame img{
  width: calc(100% * var(--zoom-factor));
  /* height: auto; */
  /* Apply the translations */
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--zoom-factor));
}

.team-description-cell {
  padding: 20pt 15pt !important;
  display:table-cell;
  vertical-align: middle !important;
}

.team-description {
  display: table-cell;
}

/* Body Classes */
.body-image-container {
  padding: 10pt;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.body-image-container img{
  padding-left: 5pt;
  padding-right: 5pt;
  height: 100%;
  object-fit: scale-down;
}


.body-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.video-container {
  display: flex;        /* Establishes the flexbox layout */
  justify-content: center; /* Centers content horizontally in the container */
  align-items: center;     /* Centers content vertically in the container */
  height: auto;           /* Sets the height to full viewport height */
  width: 100%;             /* Sets the width to full container width */
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;  /* Ensures padding doesn't affect the size */
  overflow: hidden;
}





